API_KEY=your_secret_api_key

TELEGRAM_API_ID=your_telegram_api_id
TELEGRAM_API_HASH=your_telegram_api_hash

SERP_API_KEY=your_serpapi_key
SERP_API_URL=https://serpapi.com/search

RAPIDAPI_GOOGLE_KEY=your_rapidapi_key
