API_KEY=djfhaldhuihgkdsbvjsdbfjkb_45jhd

TELEGRAM_API_ID=your_telegram_api_id
TELEGRAM_API_HASH=your_telegram_api_hash

SERP_API_KEY=your_serpapi_key
SERP_API_URL=https://serpapi.com/search

RAPIDAPI_GOOGLE_KEY=your_rapidapi_key

SIGNALHIRE_API_KEY=your_signalhire_api_key
FASTAPI_BASE_URL=https://your-public-fastapi-domain.com
